.main2{
    background-color: lightyellow;
}
#AAbout {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
}
#header {
    font-size: 70px;
}
.chang {
    margin-left: 60px;
    font-size: 20px;
}
.temp22 {
    height: 10px;
}